* {
    font-family: 'Open Sans',sans-serif;
}

body {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

span {
    margin: 0;
    display: block;
}

button, button:active, button:focus {
    outline: none;
}


#container {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.top_header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #4db1cb;
}

.lang_wrap p, .lang_wrap a {
    padding: 8px 5px;
    font-size: 12px;
    color: #d0e9f2;
}

.lang_wrap p{
    color: #d0e9f2ba;
}

.lang_wrap {
    display: flex;
    flex-direction: row;
}

.lang_wrap a {
    display: block;

}

.lang_wrap p {
    display: block;
}

.info_wrap ul li {
    display: block;
    margin: 8px 5px;
    padding: 0 8px;
    font-size: 10px;
    color: #d0e9f2;
    font-weight: bold;
    border-right: 1px solid #d0e9f2;
}

.info_wrap ul li:last-child {
    border-right: none;
}

.info_wrap ul {
    display: flex;
    flex-direction: row;
}

.bottom_header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.name_wrap h1 {
    text-transform: uppercase;
    color: #555555;
    font-weight: bolder;
}

.catalog_wrap ul li {
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    padding: 0 8px;
    font-weight: bolder;
    color: #555555;
}

.catalog_wrap ul {
    display: flex;
    flex-direction: row;
}

.cart_wrap a, .cart_wrap p, .cart_wrap img {
    display: block;
}

.cart_wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cart_wrap img {
    display: block;
    width: 30px;
    height: 30px;
}

.search_window p {
    display: block;
    font-size: 8px;
    color: #d1d1d1;
    padding: 0 8px;
    font-weight: bold;
}

.search_window img {
    display: block;
    width: 20px;
    height: 20px;
}

.search_window {
    display: flex;
    flex-direction: row;
    border: 1px solid #e6e6e6;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    height: 25px;
    padding-right: 5px;
}

.cart_window a {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cart_window p {
    color: #555555;
    font-size: 12px;
    padding: 0 8px;
    text-transform: uppercase;
    font-weight: bold;

}

#slider {
    max-width: 1000px;
    margin: auto;
    display: flex;
}

.slider_wrap img {
    display: block;
    width: 1000px;
    height: 300px;
    object-fit: cover;
}

.slider_wrap button {
    display: inline-block;
    width: 50%;
    height: 25px;
    margin: 1px 0;
    background-color: #4db1cb;
    border: 1px solid #cacaca;
    color: #cacaca;
}

.slider_wrap span, .slider_wrap h1 {
    display: none;
}

#product {
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#featured_product h1 {
    color: #74716b;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
}

#new_product h1 {
    color: #74716b;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
}

#sale_product h1 {
    color: #74716b;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
}

.product_card {
    width: 30%;
    border: 1px solid #cacaca;
    margin: 8px 5px;
    box-shadow: 1px 1px 4px 1px #cacaca;
    display: flex;
    flex-wrap: wrap;
}

.product_card p {
    display: block;
    width: 100%;
    padding: 8px 10px;
    color: #757378;
}

.product_card h1 {
    display: block;
    padding: 8px 10px;
    width: 50%;
    color: #b3d185 !important;
}

.product_pic {
    margin: 8px auto;
    box-shadow: 3px 3px #cacaca;
}

.product_card .cart_pic {
    display: block;
    width: 30px;
    height: 30px;
    padding: 8px 10px;
    margin: 8px auto;
}

.product_wrap {
    width: 75%;
    margin: 10px 0;
}

.newsletter_wrap {
    width: 25%;
    margin: 20px 0;
}

.feature_product_wrap {
    display: flex;
    flex-wrap: wrap;
}

.feature_product_wrap img {
    display: block;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.new_product_wrap {
    display: flex;
    flex-wrap: wrap;
}

.new_product_wrap img {
    display: block;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.sale_product_wrap {
    display: flex;
    flex-wrap: wrap;
}

.sale_product_wrap img {
    display: block;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

#promo_wrap {
    position: relative;
}

#promo_wrap button {
    border: none;
    width: 100px;
    margin-top: 143%;
    margin-left: 25%;
    position: absolute;
    height: 30px;
    color: white;
    background-color: #4cb2cb;
}

#promo_wrap h1 {
    display: block;
    width: 50%;
    height: 50px;
    font-size: 18px;
    color: #74716B;
    margin: 8px auto;
    text-transform: uppercase;
    text-align: center;
}

.promo_slider {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid #cacaca;
    border-top: 3px solid #3eabc6;
    box-shadow: 1px 1px 4px 1px #cacaca;
}

.promo_slider img {
    width: 95%;
    height: 250px;
    padding: 0 5px;
    object-fit: cover;
    margin: 5px auto;
}

.promo_slider div{
    display: flex;
    align-items: center;
    margin: 0px auto;
    width: 33%;
    border-top: 1px solid #cacaca;
}

.promo_slider span {
    display: block;
    width: 10px;
    height: 10px;
    margin: 10px auto;
    border-radius: 50%;
    background-color: #79af1b;
}

.promo_slider button {
    display: none;
}

.newsletter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin: 15px auto;
    border: 1px solid #cacaca;
    border-top: 3px solid #3eabc6;
    box-shadow: 1px 1px 4px 1px #cacaca;
}

.newsletter h1 {
    margin: 15px auto;
    color: #74716B;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.newsletter p {
    width: 80%;
    border-bottom: 1px solid #cacaca;
    margin: 20px auto;
    color: #74716B;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 0;
}

.newsletter .search_window {
    margin: 10px auto;  
}

.newsletter button {
    border: none;
    width: 100px;
    margin: 10px auto;
    height: 30px;
    color: white;
    background-color: #79af1b;
}

.footer_top_wrap {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    max-width: 1000px;
    height: 50px;
    margin: 10px auto 0;
    background-color: #4db1cb;
}

.footer_top_wrap div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer_top_wrap div img {
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-color: #d6ecf1;
    border-radius: 50%;
}

.footer_top_wrap div p {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    color: #d6ecf1;
    font-weight: bold;
}

.footer_middle_wrap {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    max-width: 1000px;
    margin: 0 auto ;
    background-color: #3aa0b9;
}

.footer_middle_wrap div {
    width: 20%;
    position: relative;
    text-align: start;
    align-items: center;
}

.footer_middle_wrap h1 {
    display: block;
    width: 150px;
    color: #c6dee6;
    text-transform: uppercase;
    font-size: 15px;
    margin: 20px 0; 
}

.footer_middle_wrap ul li {
    display: block;
    width: 100%;
    color: #c6dee6;
    padding: 5px 0;
    text-transform: capitalize;
    font-size: 12px;
}

.footer_middle_wrap p {
    display: block;
    width: 180px;
    padding: 5px 0;
    color: #c6dee6;
    text-align: left;
    font-size: 12px;
}

.footer_middle_wrap p:last-child {
    border-bottom: 1px solid #cde5e9;
}

.footer_middle_wrap a {
    display: block;
    color: #c6dee6;
}

.social_media_wrap {
    display: flex;
    flex-direction: row;
    margin: 10px 0 20px 0;
}

.social_media_wrap img {
    display: block;
    width: 30px;
    height: 30px;
    background-color: #d6ecf1;
    border-radius: 50%;
    margin-right: 5px;
}

.footer_bottom_wrap {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #0c4b5a;
}

.footer_bottom_wrap div {
    width: 45%;
    margin-left: 20px;
}

.footer_bottom_wrap p {
    display: block;
    color: #7dcee3;
    font-size: 12px;
    text-transform: capitalize;
}

.footer_bottom_wrap ul {
    display: flex;
    flex-direction: row;
}

.footer_bottom_wrap ul li {
    display: block;
    margin: 8px 5px;
    padding: 0 8px;
    font-size: 10px;
    color: #82d1e5;
    font-weight: bold;
    border-right: 1px solid #206f83;
}

.footer_bottom_wrap ul li:last-child {
    border: none;
}

.white_stripe {
    max-width: 1000px;
    height: 30px;
    margin: 0 auto;
    border-top: 1px solid #cacaca;
}